[submodule "deps/ST-LIB"]
	path = deps/ST-LIB
	url = https://github.com/HyperloopUPV-H8/ST-LIB
[submodule "Core/Inc/Communications/JSON_ADE"]
	path = Core/Inc/Code_generation/JSON_ADE
	url = https://github.com/HyperloopUPV-H8/JSON_ADE
[submodule "Tests/VirtualMCU"]
	path = Tests/VirtualMCU
	url = https://github.com/HyperloopUPV-H8/VirtualMCU
